
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0;
    background-color: #f4f4f9;
}

main {
    padding: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 30px 0;
}


header {
    display: flex; 
    align-items: center; 
    padding: 20px 50px;
    background-color: #363636; 
    color: white;
    border-bottom: 5px solid #3b3b3b;
}

#logo-container {
    margin-right: 40px;
}

#system-logo {
    height: 150px; 
    width: auto;
}

.system-title {
    margin: 0;
    font-size: 2.2em;
    font-weight: 700;
}

.subtitle {
    margin: 0 0 0 15px; 
    font-size: 1em;
    opacity: 0.8;
}


.status-grid { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.status-box {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.posicao-container { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 8px; 
    margin-top: 10px;
    max-height: 200px; 
    overflow-y: auto; 
    padding: 5px;
}


.posicao {
    width: 60px; 
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 0.9em;
    transition: all 0.3s;
}
.posicao:hover {
    opacity: 0.8;
}


.status-trabalhando { 
    background-color: #4CAF50; /* Verde */ 
    box-shadow: 0 0 5px #4CAF50;
    animation: pulse-trabalhando 2s infinite;
}
.status-ocioso { 
    background-color: #FFC107; /* Amarelo */ 
}


.cor-vermelha { background-color: #F44336;  }
.cor-azul { background-color: #03A9F4;  }
.cor-preto { background-color: #212121;  }
.cor-vazio { background-color: #9E9E9E;  }


.exp-com-pedido { 
    background-color: #2196F3; 
}
.exp-vazio {
    background-color: #9E9E9E; 
}


.coleta-container {
    display: flex;
    gap: 30px;
}
.form-box, .ambiental-box {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#registro-form label, #registro-form select, #registro-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}


#lista-pedidos-ul {
    list-style: none;
    padding: 0;
}
#lista-pedidos-ul li {
    background-color: #eee;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 4px;
}

.rastreamento-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.rastreamento-inputs input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}